<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Lista zadań</title>
<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
<link th:href="@{/styles/header.css}" rel="stylesheet" />
<link th:href="@{/styles/container.css}" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/images/favicon.ico}" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
</head>


<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="page-title">
			<div class="page-title-text">
				<h2>Zapisz zadanie</h2>
			</div>
			<div class="btns-options">
				<a th:href="@{/vislegis/toDoList}"><input class="btn btn-back"
					type="button" value="<< Powrót"></a>
			</div>
		</div>
		<br>
		<div class="form">
			<form action="#" th:action="@{saveNewTask}" th:object="${item}"
				method="POST">
				<input type="hidden" th:value="${item.id}" name="id" />

				<div class="form-square">
					Kategoria <input type="text" th:field="*{category}" name="category" autocomplete="off"/>
				</div>

				<div class="form-square">
					Termin <br> <input type="date" th:field="*{{deadLineDate}}"
						name="deadLineDate" />
				</div>

				<div class="form-square description">
					Opis *
					<div th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"
						th:class="${#fields.hasErrors('description')}? error"></div>
					<input type="text" th:field="*{description}" name="description" autocomplete="off"/>
				</div>

				<div class="btn-submit">
					<input type="submit" value="Zatwierdź" />
				</div>
			</form>
		</div>
	</div>
</body>

</html>