<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
      <head>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
      </head>
      
      <body>
		<div class="navbar" th:fragment="menu">
			<div class="logo">
				<a th:href="@{/dds}"><img th:src="@{/images/LOGO_white.png}" alt="puzzle"/></a>
			</div>
			<br>
			<a th:href="@{/dds/customerList}"><div class="navbar-block">Klienci</div></a>
			<a th:href="@{/dds/summary}"><div class="navbar-block">Podsumowanie</div></a>
			<a th:href="@{/dds/summary/letters}"><div class="navbar-block navbar-small">Korespondencja</div></a>
			<a th:href="@{/dds/summary/incomes}"><div class="navbar-block navbar-small">Wpływy</div></a>
			<a th:href="@{/dds/summary/courtHearings}"><div class="navbar-block navbar-small">Terminarz rozpraw</div></a>
			<a th:href="@{/dds/calculator}"><div class="navbar-block">Kalkulator</div></a>
			<a th:href="@{/dds/calculator/criminalCalculatorForm}"><div class="navbar-block navbar-small">Koszty spraw karnych</div></a>
			
		</div>      
      </body>
      
</html>
      