<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Customer's details</title>
	</head>

	
	<body>
		<h2>Customer's details</h2>
		<a th:href="@{/dds/list/updateCustomerForm(customerId=${customer.id})}"><input type="button" value="Modify"></a>
		<a th:href="@{/dds/list/customerDetails/deleteCustomer(customerId=${customer.id})}"><input type="button" value="Delete"></a>
		<hr>
		<h3>Basic info</h3>
		<p th:text="${customer.id}"></p>
		<p th:text="${customer.firstName}"></p>
		<p th:text="${customer.lastName}"></p>
		<hr>
		<h3>Contact info</h3>
		<p th:text="${customerContactInfo.country}"></p>
		<p th:text="${customerContactInfo.city}"></p>
		<p th:text="${customerContactInfo.postalCode}"></p>
		<p th:text="${customerContactInfo.street}"></p>
		<p th:text="${customerContactInfo.houseNumber}"></p>
		<p th:text="${customerContactInfo.telephone}"></p>
		<p th:text="${customerContactInfo.email}"></p>
		<hr>
		<h3>Customer cases</h3>
		<a th:href="@{/dds/list/customerDetails/saveLawCaseForm(customerId=${customer.id})}"><input type="button" value="Add case"></a>
		<table>
			<thead>
				<tr>
					<th>Signature</th>
					<th>Case description</th>
					<th>Authority</th>
					<th>Sort</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="lawCase : ${lawCases}">
					<td><span th:text="${lawCase.signature}"> SIGNATURE</span></td>
					<td><span th:text="${lawCase.caseDescription}"> DESCRIPTION</span></td>
					<td><span th:text="${lawCase.authority}"> AUTHORITY</span></td>
					<td><span th:text="${lawCase.sort}"> SORT </span></td>
					<td><a th:href="@{/dds/list/customerDetails(customerId=${customer.id})}"><input type="button" value="Details"></a>				
				</tr>
			</tbody>
			
		</table>
	
	
	</body>

</html>