<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Informacje o kliencie</title>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
		<link th:href="@{/styles/header.css}" rel="stylesheet" />
		<link th:href="@{/styles/container.css}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>

	
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div class="page-title">
				<div class="page-title-text">
					<h2>Klient</h2>
				</div>
				<div class="btns-options">
					<a th:href="@{/dds/customerList/updateCustomerForm(customerId=${customer.id})}"><input class="btn btn-add" type="button" value="Modyfikuj"></a>
					<a th:href="@{/dds/customerList/customerDetails/deleteCustomer(customerId=${customer.id})}"><input class="btn btn-del" type="button" value="Usuń"></a>
				</div>
			</div>
			<br>
			<h3 th:text="${customer.firstName} + ' ' + ${customer.lastName}"></h3>
			<table>
				<tr>
					<td th:text="'ul. ' + ${customerContactInfo.street} + ' ' + ${customerContactInfo.houseNumber}"/>
					<td th:text="${customerContactInfo.postalCode} + ' ' + ${customerContactInfo.city} + ' ' + ${customerContactInfo.country}"/>
					<td th:text="${customerContactInfo.telephone}"/>
					<td th:text="${customerContactInfo.email}"/>
				</tr>
			</table>
			<div class="page-title page-title-no-border">
				<div class="page-title-text">
					<h3>Sprawy klienta</h3>
				</div>
				<div class="btns-options">
					<a th:href="@{/dds/customerList/customerDetails/saveLawCaseForm(customerId=${customer.id})}"><input class="btn btn-add" type="button" value="Dodaj sprawę"></a>
				</div>
			</div>
			
			<table>
				<thead>
					<tr>
						<th>Sygnatura</th>
						<th>Opis sprawy</th>
						<th>Organ</th>
						<th>Rodzaj</th>
						<th>Szczegóły</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="lawCase : ${lawCases}">
						<td th:text="${lawCase.signature}"></td>
						<td th:text="${lawCase.caseDescription}"></td>
						<td th:text="${lawCase.authority}"></td>
						<td th:text="${lawCase.sort}"></td>
						<td><a th:href="@{/dds/customerList/customerDetails/caseDetails(caseId=${lawCase.caseId})}"><input class="btn" type="button" value="Szczegóły"></a>				
					</tr>
				</tbody>
			</table>
		</div>
	
	
	</body>

</html>