<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Law case's details</title>
	</head>

	
	<body>
		<h2>Law case's details</h2>
		<a th:href="@{/dds/list/customerDetails/updateLawCaseForm(caseId=${lawCase.caseId})}"><input type="button" value="Modify"></a>
		<a th:href="@{/dds/list/customerDetails/caseDetails/deleteLawCase(caseId=${lawCase.caseId})}"><input type="button" value="Delete"></a>
		<hr>
		
		<h3>Customer info</h3>
		<p th:text="${customer.id}"></p>
		<p th:text="${customer.firstName}"></p>
		<p th:text="${customer.lastName}"></p>
		<hr>
		
		<h3>Law case's details</h3>
		<p th:text="${lawCase.signature}"></p>
		<p th:text="${lawCase.caseDescription}"></p>
		<p th:text="${lawCase.authority}"></p>
		<p th:text="${lawCase.sort}"></p>
		<hr>
		
		<h3>Case incomes</h3>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Value</th>
					<th>Comment</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="caseIncome : ${caseIncomes}">
					<td><span th:text="${caseIncome.incomeDate}"> DATE</span></td>
					<td><span th:text="${caseIncome.incomeValue}"> VALUE</span></td>
					<td><span th:text="${caseIncome.incomeComment}"> COMMENT</span></td>			
				</tr>
			</tbody>
		</table>
		<hr>
		
		<h3>Case correspondence journal</h3>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Sort</th>
					<th>Internal number</th>
					<th>Recipient</th>
					<th>Content</th>
					<th>Cost</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="journal : ${journals}">
					<td><span th:text="${journal.letterDate}"> DATE</span></td>
					<td><span th:text="${journal.sort}"> SORT</span></td>
					<td><span th:text="${journal.internalNumber}"> NUMBER</span></td>
					<td><span th:text="${journal.recipient}"> RECIPIENT</span></td>			
					<td><span th:text="${journal.content}"> CONTENT</span></td>			
					<td><span th:text="${journal.cost}"> COST</span></td>			
				</tr>
			</tbody>
		</table>
		<hr>
		
		<h3>Customer Case Costs</h3>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Value</th>
					<th>Comment</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="customerCost : ${customerCaseCosts}">
					<td><span th:text="${customerCost.costDate}"> DATE</span></td>
					<td><span th:text="${customerCost.costValue}"> VALUE</span></td>
					<td><span th:text="${customerCost.costComment}"> COMMENT</span></td>			
				</tr>
			</tbody>
		</table>
		<hr>
		
		<h3>Customer Case court Hearing Agenda</h3>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Hour</th>
					<th>Place</th>
					<th>room</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="courtHearing : ${courtAgenda}">
					<td><span th:text="${courtHearing.courtHearingDate}"> DATE</span></td>
					<td><span th:text="${courtHearing.courtHearingHour}"> HOUR</span></td>
					<td><span th:text="${courtHearing.place}"> PLACE</span></td>			
					<td><span th:text="${courtHearing.room}"> ROOM</span></td>			
				</tr>
			</tbody>
		</table>
	
	</body>

</html>