<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Law case's details</title>
	</head>

	
	<body>
		<h2>Law case's details</h2>
		<a th:href="@{/dds/customerList/customerDetails/updateLawCaseForm(caseId=${lawCase.caseId})}"><input type="button" value="Modify"></a>
		<a th:href="@{/dds/customerList/customerDetails/caseDetails/deleteLawCase(caseId=${lawCase.caseId})}"><input type="button" value="Delete"></a>
		<hr>
		
		<h3>Customer info</h3>
		<p th:text="${customer.id}"></p>
		<p th:text="${customer.firstName}"></p>
		<p th:text="${customer.lastName}"></p>
		<hr>
		
		<h3>Law case's details</h3>
		<p th:text="${lawCase.signature}"></p>
		<p th:text="${lawCase.caseDescription}"></p>
		<p th:text="${lawCase.authority}"></p>
		<p th:text="${lawCase.sort}"></p>
		<hr>
		
		<h3>Case incomes</h3>
		<a th:href="@{/dds/customerList/customerDetails/caseDetails/saveIncomeForm(caseId=${lawCase.caseId})}"><input type="button" value="Add"></a>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Value</th>
					<th>Comment</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="caseIncome : ${caseIncomes}">
					<td th:text="${caseIncome.incomeDate}"></td>
					<td th:text="${caseIncome.incomeValue}"></td>
					<td th:text="${caseIncome.incomeComment}"></td>
					<td><a th:href="@{/dds/customerList/customerDetails/caseDetails/updateIncomeForm(incomeId=${caseIncome.id})}"><input type="button" value="Modify"></a>
						<a th:href="@{/dds/customerList/customerDetails/caseDetails/deleteIncome(incomeId=${caseIncome.id})}"><input type="button" value="Delete"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
		
		<h3>Case correspondence journal</h3>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Sort</th>
					<th>Internal number</th>
					<th>Recipient</th>
					<th>Content</th>
					<th>Cost</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="journal : ${journals}">
					<td th:text="${journal.letterDate}"></td>
					<td th:text="${journal.sort}"></td>
					<td th:text="${journal.internalNumber}"></td>
					<td th:text="${journal.recipient}"></td>			
					<td th:text="${journal.content}"></td>			
					<td th:text="${journal.cost}"></td>			
				</tr>
			</tbody>
		</table>
		<hr>
		
		<h3>Customer Case Costs</h3>
		<a th:href="@{/dds/customerList/customerDetails/caseDetails/saveCustomerCaseCostForm(caseId=${lawCase.caseId})}"><input type="button" value="Add"></a>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Value</th>
					<th>Comment</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="customerCost : ${customerCaseCosts}">
					<td th:text="${customerCost.costDate}"></td>
					<td th:text="${customerCost.costValue}"></td>
					<td th:text="${customerCost.costComment}"></td>
					<td><a th:href="@{/dds/customerList/customerDetails/caseDetails/updateCustomerCaseCostForm(customerCaseCostId=${customerCost.id})}"><input type="button" value="Modify"></a>
						<a th:href="@{/dds/customerList/customerDetails/caseDetails/deleteCustomerCaseCost(customerCaseCostId=${customerCost.id})}"><input type="button" value="Delete"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
		
		<h3>Customer Case court Hearing Agenda</h3>
		<a th:href="@{/dds/customerList/customerDetails/caseDetails/saveCourtHearingForm(caseId=${lawCase.caseId})}"><input type="button" value="Add"></a>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Hour</th>
					<th>Place</th>
					<th>Room</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="courtHearing : ${courtAgenda}">
					<td th:text="${courtHearing.hearingDate}"></td>
					<td th:text="${courtHearing.hearingHour}"></td>
					<td th:text="${courtHearing.place}"></td>			
					<td th:text="${courtHearing.room}"></td>
					<td><a th:href="@{/dds/customerList/customerDetails/caseDetails/updateCourtHearingForm(courtHearingId=${courtHearing.id})}"><input type="button" value="Modify"></a>
						<a th:href="@{/dds/customerList/customerDetails/caseDetails/deleteCourtHearing(courtHearingId=${courtHearing.id})}"><input type="button" value="Delete"></a>
					</td>			
				</tr>
			</tbody>
		</table>
	
	</body>

</html>