<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Klienci</title>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
		<link th:href="@{/styles/header.css}" rel="stylesheet" />
		<link th:href="@{/styles/container.css}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css"/>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
		
		<script th:src="@{/js/big-table.js}"></script>
	</head>

	
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div class="page-title">
				<div class="page-title-text">
					<h2>Klienci</h2>			
				</div>
				<div class="btns-options">
					<a th:href="@{/dds/customerList/saveCustomerForm}"><input class="btn btn-add" type="button" value="Dodaj klienta"></a>
				</div>
			</div>
			<br>
			
			<table class="dtBasicTable display">
				<thead>
			        <tr>
			            <th> Id </th>
			            <th> Imię </th>
			            <th> Nazwisko </th>
			            <th> Szczegóły </th>
			        </tr>
		    	</thead>
	    	
		    	<tbody>
			        <tr th:each="customer : ${customers}">
			            <td th:text="${customer.id}"/>
			            <td th:text="${customer.firstName}"/>
			            <td th:text="${customer.lastName}"/>
			            <td><a th:href="@{/dds/customerList/customerDetails(customerId=${customer.id})}"><input class="btn" type="button" value="Szczegóły"></a></td>
			        </tr>
		    	</tbody>
			</table>		
		</div>
	
	</body>

</html>