<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>List of customers</title>
	</head>

	
	<body>
		<h2>List of customers</h2>
		<a th:href="@{/dds/list/saveCustomerForm}"><input type="button" value="Add customer"></a>
		<hr>
		
		<table>
			<thead>
		        <tr>
		            <th> Id </th>
		            <th> First name </th>
		            <th> Last name </th>
		            <th> Action </th>
		        </tr>
	    	</thead>
    	
	    	<tbody>
		        <tr th:each="customer : ${customers}">
		        	<td>
		            <td><span th:text="${customer.id}"> ID </span></td>
		            <td><span th:text="${customer.firstName}"> FIRST NAME </span></td>
		            <td><span th:text="${customer.lastName}"> LAST NAME </span></td>
		            <td><a th:href="@{/dds/list/customerDetails(customerId=${customer.id})}"><input type="button" value="Details"></a>
		        </tr>
	    	</tbody>
		</table>
	
	
	</body>

</html>