<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Vis Legis</title>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
		<link th:href="@{/styles/header.css}" rel="stylesheet" />
		<link th:href="@{/styles/container.css}" rel="stylesheet" />
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>

	
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/menu :: menu"></div>

		<div class="container">
			<div class="page-title">
				<h2>Strona główna</h2>
			</div>
			
			<div class="nav-blocks">
				<br>
				
				<div class="square">
					<a th:href="@{/vislegis/customerList}">
						<input class="btn-square" type="button" value="Klienci">
					</a>
				</div>

				<div class="square">
					<a th:href="@{/vislegis/summary}">
						<input class="btn-square" type="button" value="Podsumowanie">
					</a>
				</div>
				
				<div class="square">
					<a th:href="@{/vislegis/calculator}">
						<input class="btn-square" type="button" value="Kalkulator">
					</a>
				</div>
				
				<div class="square">
					<a th:href="@{/vislegis/docGenerator}">
						<input class="btn-square" type="button" value="Generator dokumentów">
					</a>
				</div>
				
				<div class="square">
					<a th:href="@{/vislegis/toDoList}">
						<input class="btn-square" type="button" value="Lista zadań">
					</a>
				</div>
				
			</div>
						
		</div>
	
	</body>

</html>