<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Save customer case cost</title>
		
		
		
	</head>

	
	<body>
		<h2>Save customer case cost</h2>
		<hr>
		<p th:text="${customer.firstName} + ' ' + ${customer.lastName}"></p>
		<p th:text="${lawCase.caseDescription}"></p>
		<form action="#" th:action="@{saveCustomerCaseCost}" th:object="${customerCaseCost}" method="POST">
			<input type="hidden" th:value="${lawCase.caseId}" name="caseId"/>
			<input type="hidden" th:value="${customerCaseCost.id}" name="id"/>
			<p>Date: <input type="date" th:value="${customerCaseCost.costDate}" name="costDate"/></p>
			<p>Value: <input type="number" step="0.01" th:value="${customerCaseCost.costValue}" name="costValue"/></p>
			<p>Comment: <input type="text" th:value="${customerCaseCost.costComment}" name="costComment"/></p>
			
			<p><input type="submit" value="Submit"/></p>
		</form>

	</body>

</html>