<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Zapisz koszty klienta</title>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
		<link th:href="@{/styles/header.css}" rel="stylesheet" />
		<link th:href="@{/styles/container.css}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>

	
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div class="page-title">
				<div class="page-title-text">
					<h2>Zapisz koszty klienta</h2>
				</div>
				<div class="btns-options">
					<a th:href="@{'/dds/customerList/customerDetails/caseDetails?caseId=' + ${lawCase.caseId}}"><input class="btn btn-back" type="button" value="<< Powrót"></a>
				</div>
			</div>
			<br>
			<h3 th:text="${customer.firstName} + ' ' + ${customer.lastName} + ' - ' + ${lawCase.caseDescription}"></h3>

		<div class="form">
			<form action="#" th:action="@{saveCustomerCaseCost}" th:object="${customerCaseCost}" method="POST">
				<input type="hidden" th:value="${lawCase.caseId}" name="caseId"/>
				<input type="hidden" th:value="${customerCaseCost.id}" name="id"/>
				<div class="form-square">
					Data
					<input type="date" th:value="${customerCaseCost.costDate}" name="costDate"/>
				</div>
				<div class="form-square">	
					Wartość
					<input type="number" step="0.01" th:value="${customerCaseCost.costValue}" name="costValue"/>
				</div>
				<div class="form-square description">
					Komentarz 
					<input type="text" th:value="${customerCaseCost.costComment}" name="costComment"/>
				</div>
				<div class="btn-submit">
					<input type="submit" value="Zatwierdź"/>
				</div>
			</form>
		</div>
	</div>

	</body>

</html>