<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Zapisz klienta</title>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
		<link th:href="@{/styles/header.css}" rel="stylesheet" />
		<link th:href="@{/styles/container.css}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>

	
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		<div th:replace="fragments/header :: header"></div>
			<div class="container">
				<div class="page-title">
					<div class="page-title-text">
						<h2>Zapisz klienta</h2>
					</div>
					<div class="btns-options">
						<a th:href="${customer.id} == 0 ? @{/dds/customerList} : @{'/dds/customerList/customerDetails?customerId=' + ${customer.id}}"><input class="btn btn-back" type="button" value="<< Powrót"></a>
					</div>
				</div>
			<br>
			<div class="form">
				<form action="#" th:action="@{saveCustomer}" method="POST">
					<input type="hidden" th:value="${customer.id}" name="id"/>
					<div class="form-square">
						Imię<br>
						<input type="text" th:value="${customer.firstName}" name="firstName"/>
					</div>
					<div class="form-square">
						Nazwisko<br>
						<input type="text" th:value="${customer.lastName}" name="lastName"/>
					</div>
					<div class="form-square">
						Ulica<br>
						<input type="text" th:value="${customerContactInfo.street}" name="street"/>	
					</div>
					<div class="form-square">
						Nr domu<br>
						<input type="text" th:value="${customerContactInfo.houseNumber}" name="houseNumber"/>
					</div>
					<div class="form-square">
						Kod pocztowy<br>
						<input type="text" th:value="${customerContactInfo.postalCode}" name="postalCode"/>
					</div>
					<div class="form-square">
						Miasto<br>
						<input type="text" th:value="${customerContactInfo.city}" name="city"/>
					</div>
					<div class="form-square">
						Kraj<br>
						<input type="text" th:value="${customerContactInfo.country}" name="country"/>
					</div>
					<div class="form-square"><br><br></div>
					<div class="form-square">
						Nr telefonu<br>
						<input type="text" th:value="${customerContactInfo.telephone}" name="telephone"/>
					</div>
					<div class="form-square">
						Email<br>
						<input type="text" th:value="${customerContactInfo.email}" name="email"/>
					</div>
					<div class="btn-submit">
						<input type="submit" value="Zatwierdź"/>
					</div>				
				</form>
			</div>
		</div>
	</body>

</html>