<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Summary incomes</title>
	</head>

	
	<body>
		<h3>Incomes</h3>
		<a th:href="@{/dds/summary/incomes/saveIncomeForm}"> <input type="button" value="Add"></a>
		<table>
			<thead>
				<tr>
					<th>Customer first name</th>
					<th>Customer last name</th>
					<th>Case description</th>
					<th>Income date</th>
					<th>Income value</th>
					<th>Comment</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="income : ${incomes}">
					<td th:text="${income.firstName}"></td>
					<td th:text="${income.lastName}"></td>
					<td th:text="${income.caseDescription}"></td>
					<td th:text="${income.incomeDate}"></td>	
					<td th:text="${income.incomeValue}"></td>	
					<td th:text="${income.incomeComment}"></td>	
					<td><a th:href="@{/dds/summary/incomes/updateIncomeForm(incomeId=${income.incomeId})}"><input type="button" value="Modify"></a>
						<a th:href="@{/dds/summary/incomes/deleteIncome(incomeId=${income.incomeId})}"><input type="button" value="Delete"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
	</body>

</html>