<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Court hearing agenda</title>
	</head>

	
	<body>
		<h3>Court hearing agenda</h3>
		<a th:href="@{/dds/summary/courtHearings/saveHearingForm}"> <input type="button" value="Add"></a>
		<table>
			<thead>
				<tr>
					<th>Customer first name</th>
					<th>Customer last name</th>
					<th>Signature</th>
					<th>Case description</th>
					<th>Date</th>
					<th>Hour</th>
					<th>Place</th>
					<th>Room</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="hearing : ${hearings}">
					<td th:text="${hearing.firstName}"></td>
					<td th:text="${hearing.lastName}"></td>
					<td th:text="${hearing.signature}"></td>
					<td th:text="${hearing.caseDescription}"></td>
					<td th:text="${hearing.hearingDate}"></td>	
					<td th:text="${hearing.hearingHour}"></td>	
					<td th:text="${hearing.place}"></td>	
					<td th:text="${hearing.room}"></td>	
					<td><a th:href="@{/dds/summary/courtHearings/updateHearingForm(hearingId=${hearing.hearingId})}"><input type="button" value="Modify"></a>
						<a th:href="@{/dds/summary/courtHearings/deleteHearing(hearingId=${hearing.hearingId})}"><input type="button" value="Delete"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
	</body>

</html>