<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Save income</title>
	</head>

	
	<body>
		<h2>Save income</h2>
		<hr>
		<form action="#" th:action="@{saveIncome}" th:object="${income}" method="POST">
			<input type="hidden" th:value="${income.id}" name="id"/>
			<select th:value="${lawCase}" name="caseId">
				<option th:value="${chosenLawCase.caseId}" th:text="${chosenLawCase.getCustomer.getLastName} + ' - ' + ${chosenLawCase.caseDescription}"></option>
			    <option th:each="lawCase : ${lawCases}"
			    		th:value="${lawCase.caseId}"
			    		th:text="${lawCase.getCustomer.getLastName} + ' - ' + ${lawCase.caseDescription}">
			    </option>
			</select>
			
			<p>Date: <input type="date" th:field="*{incomeDate}"/></p>
			<p>Value: <input type="number" step="0.01" th:field="*{incomeValue}"/></p>
			<p>Comment: <input type="text" th:field="*{incomeComment}"/></p>
			<p><input type="submit" value="Submit"/></p>
		</form>
		<hr>
	</body>

</html>