<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>403</title>
	
	<link th:href="@{/styles/login.css}" rel="stylesheet" />
	
</head>


<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card my-5">
					<div class="card-body cardbody-color p-lg-5 succes">

				      	<h1>403</h1>
				      	<img alt="accessDenied" th:src="@{/images/accessDenied.png}" width="200px">
				      	<h2>Odmowa dostępu</h2>
					   
					</div>

				</div>
			
			</div>
		</div>
	</div>
</body>

</html>