<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Kalkulator</title>
<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
<link th:href="@{/styles/header.css}" rel="stylesheet" />
<link th:href="@{/styles/container.css}" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/images/favicon.ico}" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

</head>


<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="page-title">
			<div class="page-title-text">
				<h2>Średni dzienny kurs euro NBP</h2>
			</div>
			<div class="btns-options">
				<a th:href="@{/vislegis/calculator}"><button
						class="btn btn-back">&#60;&#60; Powrót</button></a>
			</div>
		</div>
		<br>
		<div class="form">
			<div class="form-square">
				Data <input class="date-input" type="date"/>
			</div>

			<div class="form-square">
				Wynik:&emsp; <span class="eurRate"></span>
			</div>
			<br>
			<div>
				<button class="btn-submitEurRate">Zatwierdź</button>
			</div>
		</div>
	</div>

	<script th:src="@{/js/eur-rate.js}"></script>
</body>

</html>