<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Podsumowanie</title>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
		<link th:href="@{/styles/header.css}" rel="stylesheet" />
		<link th:href="@{/styles/container.css}" rel="stylesheet" />
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>

	
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/menu :: menu"></div>
		<div class="container">
			<div class="page-title">
				<div class="page-title-text">
					<h2>Zapisz termin rozprawy</h2>
				</div>
				<div class="btns-options">
					<a th:href="@{/vislegis/summary/courtHearings}"><input class="btn btn-back" type="button" value="<< Powrót"></a>
				</div>
			</div>
			<br>
			<div class="form">
				<form action="#" th:action="@{saveHearing}" th:object="${hearing}" method="POST">
					<input type="hidden" th:field="*{id}" name="id"/>
					<div class="form-square">
						<select class="form-select" th:field="${hearing.lawCase.caseId}">
							<option th:each="lawCase : ${lawCases}"
						    		th:value="${lawCase.caseId}"
						    		th:text="${lawCase.getCustomer.getLastName} + ' - ' + ${lawCase.caseDescription}">
						    </option>
						</select>
					</div>
					<div class="form-square"><br><br></div>
					<div class="form-square">
						Data
						<input type="date" th:field="*{hearingDate}"/>
					</div>
					<div class="form-square">
						Godzina
						<input type="time" th:field="*{hearingHour}"/>
					</div>
					<div class="form-square">
						Miejsce
						<input type="text" th:field="*{place}"/>
					</div>
					<div class="form-square">
						Pokój
						<input type="text" th:field="*{room}"/>
					</div>
					<div class="btn-submit">
						<input type="submit" value="Zatwierdź"/>
					</div>
				</form>
			</div>
		</div>
	</body>

</html>