<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Generator pism</title>
<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
<link th:href="@{/styles/header.css}" rel="stylesheet" />
<link th:href="@{/styles/container.css}" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/images/favicon.ico}" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
</head>


<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="page-title">
			<div class="page-title-text">
				<h2>Prokuratura wstąpienie</h2>
			</div>
			<div class="btns-options">
				<a
					th:href="${caseIdCondition} != null ? @{'/vislegis/customerList/customerDetails/caseDetails?caseId=' + ${caseIdCondition}} : @{/vislegis/docGenerator}"><input
					class="btn btn-back" type="button" value="<< Powrót"></a>
			</div>
		</div>
		<br>
		<div class="form">
			<form action="#"
				th:action="@{/vislegis/docGenerator/createProsecutorAccessionDocx}"
				th:object="${prosecutorAccession}" method="POST">

				<div class="form-square">
					Data pisma *
					<div th:if="${#fields.hasErrors('actDate')}" th:errors="*{actDate}"
						th:class="${#fields.hasErrors('actDate')}? error"></div>
					<input type="date" th:field="*{actDate}" name="actDate" />
				</div>

				<div class="form-square">
					Nr sprawy *
					<div th:if="${#fields.hasErrors('caseSignature')}"
						th:errors="*{caseSignature}"
						th:class="${#fields.hasErrors('caseSignature')}? error"></div>
					<input type="text" th:field="*{caseSignature}" name="caseSignature" />
				</div>

				<div class="form-square description">
					Organ *<select class="form-select" th:field="*{courtId}">
						<option th:each="court : ${courts}" th:value="${court.id}"
							th:text="${court.name} + ' - ' + ${court.department}"></option>
					</select>
				</div>

				<div class="form-square">
					Imię *
					<div th:if="${#fields.hasErrors('firstName')}"
						th:errors="*{firstName}"
						th:class="${#fields.hasErrors('firstName')}? error"></div>
					<input type="text" th:field="*{firstName}" name="firstName" />
				</div>

				<div class="form-square">
					Nazwisko *
					<div th:if="${#fields.hasErrors('lastName')}"
						th:errors="*{lastName}"
						th:class="${#fields.hasErrors('lastName')}? error"></div>
					<input type="text" th:field="*{lastName}" name="lastName" />
				</div>


				<div class="btn-submit">
					<input type="submit" value="Generuj dokument" />
				</div>
			</form>
		</div>
	</div>
</body>

</html>