<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Kalkulator spraw karnych</title>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
		<link th:href="@{/styles/header.css}" rel="stylesheet" />
		<link th:href="@{/styles/container.css}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>

	
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div class="page-title">
				<div class="page-title-text">
					<h2>Przygotuj wyliczenie kosztów (1/2)</h2>
				</div>
				<div class="btns-options">
					<a th:href="@{/dds/calculator}"><input class="btn btn-back" type="button" value="<< Powrót"></a>
				</div>
			</div>
			<br>
			<div class="form">
				<form action="#" th:action="@{saveCriminalCalculatorForm}" th:object="${criminal}" method="POST">
					
					<div class="form-square">
						Rodzaj sprawy
						<div class = "radio-square">
							<input type="radio" value="false" name="byChoice" th:field="*{byChoice}">
							<label>Z urzędu</label>
						</div>
						<div class = "radio-square">
							<input type="radio" value="true"  name="byChoice" th:field="*{byChoice}">
							<label>Z wyboru</label>
						</div>
					</div>
					
					<div class="form-square">
					Postępowanie przygotowawcze
						<div class = "radio-square">
							<input type="radio" value="true" name="preparatoryProceeding" th:field="*{preparatoryProceeding}">
							<label>Tak</label>
						</div>
						<div class = "radio-square">
							<input type="radio" value="false" name="preparatoryProceeding" th:field="*{preparatoryProceeding}">
							<label>Nie</label>
						</div>
					</div>
					
					<div class="form-square">
					Rodzaj postępowania przygotowawczego
						<div class = "radio-square">
							<input type="radio" value="false" name="investigation" th:field="*{investigation}">
							<label>Śledźtwo</label>
						</div>
						<div class = "radio-square">
							<input type="radio" value="true" name="investigation" th:field="*{investigation}">
							<label>Dochodzenie</label>
						</div>
					</div>
					
					<div class="form-square">
					Organ
						<div class = "radio-square">
							<input type="radio" value="false" name="higherCourt" th:field="*{higherCourt}">
							<label>Rejony / Okręgowy</label>
						</div>
						<div class = "radio-square">
							<input type="radio" value="true" name="higherCourt" th:field="*{higherCourt}">
							<label>Okręgowy / Apelacyjny</label>
						</div>
					</div>
					
					<div class="form-square">
						Ilość wystąpień w I instancji
						<input type="text" th:field="*{firstInstance}" placeholder="2,3,1,4"/>
					</div>
					<div class="form-square">
						Ilość wystąpień w II instancji
						<input type="text" th:field="*{secondInstance}" placeholder="2,3,1,4"/>
					</div>
					<div class="btn-submit">
						<input type="submit" value="Dalej >>"/>
					</div>	
				</form>
			</div>
		</div>
	</body>

</html>