<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Kurs euro</title>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
		<link th:href="@{/styles/header.css}" rel="stylesheet" />
		<link th:href="@{/styles/container.css}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>

	
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div class="page-title">
				<div class="page-title-text">
					<h2>Kurs euro NBP dla ostatniego dnia miesiąca</h2>
				</div>
				<div class="btns-options">
					<a th:href="@{/dds/calculator}"><input class="btn btn-back" type="button" value="<< Powrót"></a>
				</div>
			</div>
			<br>
			<div class="form">
				<form action="#" th:action="@{saveEurExchangeRateForm}" th:object="${dateRange}" method="POST">
					<div class="form-square">
						Data początkowa<div th:if="${#fields.hasErrors('startDate')}" th:errorclass="error" th:errors="*{startDate}"></div>
						<input type="date" th:field="*{startDate}"/>
					</div>
					<div class="form-square">
						Data końcowa<div th:if="${#fields.hasErrors('endDate')}" th:errorclass="error" th:errors="*{endDate}"></div>
						<input type="date" th:value="*{endDate}" name="endDate"/>
					</div>
					<div class="btn-submit">
						<input type="submit" value="Dalej >>"/>
					</div>	
				</form>
			</div>
		</div>
	</body>

</html>