<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title>Kalkulator</title>
		<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
		<link th:href="@{/styles/header.css}" rel="stylesheet" />
		<link th:href="@{/styles/container.css}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>

	
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/menu :: menu"></div>
		<div class="container">
			<div class="page-title">
				<div class="page-title-text">
					<h2>Zryczałtowane odszkodowanie za opóźnienie w płatności</h2>
				</div>
				<div class="btns-options">
					<a th:href="@{/dds/calculator}"><input class="btn btn-back" type="button" value="<< Powrót"></a>
				</div>
				<div class="btns-options">
					<a th:href="@{/dds/calculator/recompanseRateResult}"><input class="btn btn-back" type="button" value="Dalej >>"></a>
				</div>
			</div>
			<br>
			<div class="form">
				<form action="#" th:action="@{saveRecompanseRateForm}" th:object="${recompanseRate}" method="POST">
					<div class="form-square">
						Numer faktury
						<input type="text" th:field="*{invoice}"/>
					</div>
					<div class="form-square">
						Data faktury<div th:if="${#fields.hasErrors('invoiceDate')}" th:errorclass="error" th:errors="*{invoiceDate}"></div>
						<input type="date" step="0.01" th:field="*{invoiceDate}"/>
					</div>
					<div class="form-square">
						Data płatności<div th:if="${#fields.hasErrors('dateOfPayement')}" th:errorclass="error" th:errors="*{dateOfPayement}"></div>
						<input type="date" th:field="*{dateOfPayement}"/>
					</div>
					<div class="form-square">
						Kwota brutto<div th:if="${#fields.hasErrors('valueGross')}" th:errorclass="error" th:errors="*{valueGross}"></div>
						<input type="number" step="0.01" th:field="*{valueGross}"/>
					</div>
					<div class="btn-submit">
						<input type="submit" value="Dalej >>"/>
					</div>	
				</form>
			</div>
		</div>
	</body>

</html>