<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Klienci</title>
<link th:href="@{/styles/navbar.css}" rel="stylesheet" />
<link th:href="@{/styles/header.css}" rel="stylesheet" />
<link th:href="@{/styles/container.css}" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/images/favicon.ico}" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
</head>


<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="page-title">
			<div class="page-title-text">
				<h2>Zapisz sprawę</h2>
			</div>
			<div class="btns-options">
				<a
					th:href="${lawCase.caseId} == 0 ? @{'/vislegis/customerList/customerDetails?customerId=' + ${customer.id}} : @{'/vislegis/customerList/customerDetails/caseDetails?caseId=' + ${lawCase.caseId}}">
					<input class="btn btn-back" type="button" value="<< Powrót">
				</a> <a th:href="@{/vislegis/docGenerator/courtsList/saveCourtForm}">
					<input class="btn btn-add" type="button" value="Dodaj organ">
				</a>
			</div>
		</div>
		<br>
		<h3
			th:text="${customer.firstName} + ' ' + ${customer.lastName} + ' - ' + ${lawCase.caseDescription}"></h3>

		<div class="form">
			<form action="#" th:action="@{saveLawCase}" th:object="${lawCase}"
				method="POST">
				<input type="hidden" th:value="${customer.id}" name="id" /> <input
					type="hidden" th:value="${lawCase.caseId}" name="caseId" />

				<div class="form-square">
					Sygnatura <input type="text" th:value="${lawCase.signature}"
						name="signature" />
				</div>
				<div class="form-square">
					<br>
					<br>
				</div>
				<div class="form-square description">
					Opis sprawy <input type="text"
						th:value="${lawCase.caseDescription}" name="caseDescription" />
				</div>

				<div class="form-square">
					Organ <select class="form-select" th:field="${lawCase.court.id}">
						<option th:each="court : ${courts}" th:value="${court.id}"
							th:text="${court.name} + ' - ' + ${court.department}"></option>
					</select>
				</div>

				<div class="form-square">
					<div class="radio-square">
						<input type="radio" value="Z urzedu" name="sort"
							th:field="*{sort}"> <label>Z urzędu</label>
					</div>
					<div class="radio-square">
						<input type="radio" id="radioChecked" value="Z wyboru" name="sort"
							th:field="*{sort}"> <label>Z wyboru</label>
					</div>
					<script>
							document.getElementById("radioChecked").setAttribute("checked","checked")
						</script>
				</div>
				<div class="btn-submit">
					<input type="submit" value="Zatwierdź" />
				</div>
			</form>
		</div>
	</div>

</body>
</html>